body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.card {
    width: 640px;
    position: relative;
    background-color: rgb(16, 16, 16);
    border: 1px solid rgb(255, 255, 255 /5%);
    border-radius: 1.5rem;
    padding: 1rem;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-image: radial-gradient(
        rgba(255, 255, 255 / 10%) 1px
        transparent 1px
    );
    background-position: 50% 50%;
    background-size: 1.1rem 1.1rem;
    overflow: hidden;
}

.card-content > :is(h1, h3, p) {
    text-align: center;
    
}

.card-content > h1 {
    color: rgb(250, 249, 246);
    font-size: 2.6rem;
    margin: 1rem;
}

.card-content > h3 {
    color: mediumslateblue;
    text-transform: uppercase;
    font-size: 0.7rem;
    margin-top: 2rem;
}

.card-content > p {
    color: rgb(250, 249, 246);
    text-transform: uppercase;
    margin: 2rem;
}

.card:after {
    background: linear-gradient(
        transparent,
        mediumslateblue,
        transparent
    );
    height: 70px;
    width: 1px;
    position: absolute;
    left: -1px;
    top: 65%;
    content: "";
    opacity: 0;
}

.card:hover:after {
    top: 25%;
    opacity: 1;
    transition: top 600ms ease, opacity 600ms ease;
        
}
